<div class="container experience-container">
  <h3>Skills</h3>
  <div class="layout">
    <div class="details">
      <h4>Programming Skills</h4>

      <!-- /.title_content -->
      <div class="skills">
        <!-- .skillbar -->
        <div class="skillbar clearfix" data-percent="85%">
            <div class="skillbar-title"><span>ASP.Net</span></div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">85%</div>
        </div>
        <!-- /.skillbar -->
        <!-- .skillbar -->  
        <div class="skillbar clearfix" data-percent="90%">
            <div class="skillbar-title"><span>JQuery</span></div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">90%</div>
        </div>
        <!-- /.skillbar -->
        <!-- .skillbar -->
        <div class="skillbar clearfix" data-percent="70%">
            <div class="skillbar-title"><span>Databases (SQL/NoSQL)</span></div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">70%</div>
        </div>
        <!-- /.skillbar -->
        <!-- .skillbar -->
        <div class="skillbar clearfix" data-percent="75%">
            <div class="skillbar-title"><span>Wordpress</span></div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">75%</div>
        </div>
        <!-- /.skillbar --> 
        <!-- .skillbar -->
        <div class="skillbar clearfix" data-percent="80%">
            <div class="skillbar-title"><span>HTML/CSS</span></div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">80%</div>
        </div>
        <!-- /.skillbar --> 
      </div>
    </div>
  </div>
</div>
